# BE 전용: 로컬 전용 설정 파일 무시
backend/src/main/resources/application_2nd.properties

# BE 전용: 빌드 결과 및 캐시 무시
backend/.gradle/
backend/build/
build/
.gradle/
# Gradle Wrapper는 꼭 포함해야 하므로 무시 금지
!backend/gradlew
!backend/gradlew.bat
!backend/gradle/wrapper/gradle-wrapper.jar
!backend/gradle/wrapper/gradle-wrapper.properties

# 오타 수정
*.properties
*.class

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# STS(Spring Tool Suite)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# 아카이브 등 빌드 산출물 무시
*.tar.gz
*.zip
